/*anything that affects the whole page e.g. * {},  body {}*/
		
/*mobile sizing*/		
		
		/* Mobile Size*/
@media screen  and (max-width: 599px){
	body {background-color: pink;}
	.sidenav { 
	display: none}
}




/*tablets and large mobile devices sizing*/

@media screen and (min-width: 600px) and (max-width: 1199px){
	.sidenav {
		display: none;
		float: right;
	}
	closebtn {
		display: none;
	}
	#main {
		display: none;
		
	}
}



/*desktop sizing*/

@media screen and (min-width:1200px){
	.sidenav { 
		display: none;
	}
closebtn {
		display: none;
	}
		#main {
		display: none;
	}
}




/*things that stay the same on multiple pages e.g. nav, footer, font*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}



.fa {
  padding: 10px;
  font-size: 15px;
  width: 15px;
  text-align: left;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 25%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}



.banner {
	width: 100%;
	display: block;
	background: #4f5b66
}

.banner > .banner-image {
	width: 100%;
	display: block;
}

nav {
	width 100%;

}

.menu-titles {
	width: 80%
	margin: 0 auto;
	padding: 0;
}
ul li {
	padding: 20px;
	list-style: none;
	display: inline-block;
}
ul li:hover {
	background: #c0c5ce;
}

.pull-right{
	float: right;
}





								/* FONT Calibri*/

h1 {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	max-width: 100%
}
h3 {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
	max-width: 100%
}
p {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	max-width: 100%
}
blockquote {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
	max-width: 100%
}
pre {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
	max-width: 100%
}
ul {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
/*stuff page specific*/
